<div class="container mt-4">
  <h2 class="mb-3">Gestión de Inscripciones</h2>

  <!-- Filtro por nombre -->
  <div class="mb-3">
    <label for="search" class="form-label">Buscar Inscripción:</label>
    <input
      type="text"
      id="search"
      class="form-control"
      [(ngModel)]="searchText"
      placeholder="Escribe el estudiante o materia"
    />
  </div>

  <!-- Enlace para navegar a la página de agregar materia -->
  <a routerLink="add-registration" class="btn btn-success mb-3"
    >Agregar Inscripción</a
  >

  <!-- Componente de la lista -->
  <app-registration-list
    [registration]="filtered | registrationFilter : searchText"
    (isSaved)="isSaved($event)"
  ></app-registration-list>
</div>
